<div class="container d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						{{ form_start(form) }}
						<label class="form-label">Nom du membre:</label><br>{{ form_widget(form.name_member) }}
						<label class="form-label">Description du membre:</label><br>{{ form_widget(form.description) }}
						<label class="form-label">Image du membre:</label><br>{{ form_widget(form.img_member) }}
						<label class="form-label">Choix de la team:</label><br>{{ form_widget(form.teams) }}
						<div class="container d-flex justify-content-center align-items-center">
							<div class="row">
								<div class="col-12">
									<button type="submit" class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
								</div>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
