{% extends 'base.html.twig' %}

{% block title %}Teams index
{% endblock %}

{% block body %}
<div class="container-fluid text-center">
		<h1>Teams index</h1>
		{% if is_granted('ROLE_ADMIN') %}
        <span><a href="{{ path('app_teams_new') }}">Create new</a></span>
		{% endif %}
		<div class="d-md-flex flex-md-wrap bg-primary">
            {% for team in teams %}
			<div class="flex-md-fill col-md-3 card m-4 ">
					<div class="card-body">
						<span>{{ team.id }}</span>
						<h2 class="card-title">{{ team.nameTeam }}</h2>
						<p class="card-text">{{ team.description }}</p>
						{# <span>{{ team.imgTeam }}</span> #}
						{% if is_granted('ROLE_ADMIN') %}
						<div class="card-footer">
							<span>
								<a href="{{ path('app_teams_show', {'id': team.id}) }}">show</a>
							</span>
							<span>
								<a href="{{ path('app_teams_edit', {'id': team.id}) }}">edit</a>
							</span>
						</div>
						{% endif %}
					</div>
				</div>
			{% else %}
				<span>no records found</span>
			</div>
		{% endfor %}
	</div>
{% endblock %}
