{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <h1>Teams</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name_team</th>
                <td>{{ team.nameTeam }}</td>
            </tr>
            <tr>
                <th>Img_team</th>
                <td>{{ team.imgTeam }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ team.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_teams_index') }}">back to list</a>

    <a href="{{ path('app_teams_edit', {'id': team.id}) }}">edit</a>

    {{ include('teams/_delete_form.html.twig') }}
{% endblock %}
