{% extends 'base.html.twig' %}

{% block title %}Asso index
{% endblock %}

{% block body %}
 <div class="container-fluid text-center">
		<h1>Asso index</h1>
        <span><a href="{{ path('app_asso_new') }}">Create new</a></span>
		<div class="d-md-flex flex-md-wrap bg-primary">
			{% for asso in assos %}
			<div class="flex-md-fill col-md-3 card m-4 ">
					<div class="card-body">
						<span>{{ asso.id }}</span>
						<h2 class="card-title">{{ asso.name }}</h2>
						<p class="card-text">{{ asso.description }}</p>
						{# <span>{{ asso.img_asso }}</span> #}
						<div class="card-footer">
							<span>
								<a href="{{ path('app_asso_show', {'id': asso.id}) }}">show</a>
							</span>
							<span>
								<a href="{{ path('app_asso_edit', {'id': asso.id}) }}">edit</a>
							</span>
						</div>
					</div>
				</div>
			{% else %}
				<span>no records found</span>
			</div>
		{% endfor %}
	</div>
{% endblock %}
